@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    margin: 0;
}

/* Setting up the main page */
html {
    min-height: 100%;
    position: relative;
}

h2, h3 {
    font-family: 'Titan One', cursive;
    font-size: 1.5em;
}

header {
    text-align: center;
    background-color: #38598b;
    color: white;
    font-size: 30px;
    padding-bottom: 5px;
    
}

p {
    font-size: 22px;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: white;
    background-color: #38598b;
}

/* Game area */

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}

#messages {
    height: 20px;
}

.player {
    float: left;
    width: 45%;
    background-color: #d5eeff;
}

#player-image {
    width: 75%;
}

.computer {
    float: right;
    width: 45%;
    background-color: #007cb9;
}

#computer-image {
    width: 75%;
}


.set-game {
    font-size: 20px;
}